# Path to the extra Ant tasks defined for Install4j
# Windows paths need a double backspace
install4j.antpath = C:\\Program Files\\Install4j\\bin\\ant.jar

# Password required for key signing with Install4j
keystore.password =
keystore.tokencfg =

# Tomcat information if deploying Flapjack's web services
tomcat.manager.url = 
tomcat.manager.username =
tomcat.manager.password =
tomcat.manager.app =
