<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
						http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0"
	metadata-complete="true">

	<display-name>Flapjack REST(like) Services (POC: Iain Milne)</display-name>

	<session-config>
		<session-timeout>5</session-timeout>
	</session-config>

	<servlet>
		<servlet-name>dendrogram</servlet-name>
		<servlet-class>flapjack.servlet.DendrogramServlet</servlet-class>
	</servlet>
	<servlet-mapping>
        <servlet-name>dendrogram</servlet-name>
        <url-pattern>/servlets/dendrogram</url-pattern>
    </servlet-mapping>

</web-app>