H1, H2
{
	color: #333333;
	font-family: Tahoma, Univers, Arial;
}

BODY { text-align: center; background: #FFFFFF; }

BODY,TD,P
{
	color: #333333;
	font-family: Tahoma, Univers, Arial;
	font-size: 13px;
}

IMG
{
	border: 0;
	margin-left: 30px;
}

UL
{
	list-style-image: url(images/button.png);
	line-height: 1.2;
}

A:link, A:visited, A:active
{
    text-decoration: none;
    color: #3300ff;
}

HTML, BODY { margin:0; padding:0 }

p{margin:0 10px 10px}

div#header h1{height:80px;line-height:80px;margin:0;
  padding-left:10px;background: #3779cd;color: #FFFFFF}

div#container{text-align:left}

div#navigation{background:#FFFFFF}
div#extra{background:#FF8539}
div#footer{background: #333;color: #FFF}
div#footer p{margin:0;padding:5px 10px}

div#container{width:900px;margin:0 auto}
div#content{float:right;width:680px}
div#navigation{float:left;width:220px}
div#extra{float:right;width:500px}
div#footer{clear:both;width:100%}